@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --red_color: #df3c17;
  --green_color: #2a9d8f;
  --green_dark_color: #08211f;
  --yellow_color: #f7ea49;
  --yellow_light_color: #fefdec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  background-color: var(--yellow_light_color);
  color: var(--green_dark_color);
}
.padding {
  padding: 0 3rem;
}
h1 {
  margin-bottom: 1.5rem;
}
p {
  margin: 0.25rem 0 0.5rem 0;
}
a {
  text-decoration: underline;
  font-weight: 500;
  color: var(--green_dark_color);
  transition: all .1s ease-in;
}
a:not(.btn):hover {
  color: var(--green_color);
}
a.btn {
  text-decoration: none;
}
.btn {
  cursor: pointer;
  display: inline-block;
  min-width: 8rem;
  margin: 2rem 0;
  padding: .5rem 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  transition: all .1s ease-in;
  box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 40%);
  transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 40%);
  transform: translate(-3px, -3px);
    -webkit-transform: translate(-3px, -3px);
}
.btnPrimary {
  background: var(--green_color);
  color: var(--yellow_light_color);
}
.btnSecondary {
  background: transparent;
  color: var(--green_dark_color);
  border: 1px solid var(--green_dark_color);
}
.btnHeader {
  display: flex;
  align-items: center;
  min-width: 0;
  margin: 0 0 0 2rem;
  padding: 0.25rem 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  background: none;
  border: 0.5px solid var(--green_dark_color);
  transition: all .1s ease-in;
  box-shadow: none;
  transform: none;
    -webkit-transform: none;
}
.btnHeader:hover {
  color: var(--green_color);
  border: 0.5px solid var(--green_color);
  box-shadow: none;
  transform: none;
    -webkit-transform: none;
}
.btnImportant {
  background: var(--yellow_color);
  color: var(--green_dark_color);
}
.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnIcon svg {
  margin-right: 5px;
}
